.idea/*
.idea
*/.idea/


*/build/*

PA1/.gradle/*
PA1/.idea/*
PA1/build/*

PA2/ShootingApp/.gradle/*
PA2/ShootingApp/.idea/*
PA2/ShootingApp/build/*

project/SensorLogAppWithPiloc/.gradle/*
project/SensorLogAppWithPiloc/.idea/*
project/SensorLogAppWithPiloc/build/*

project/ActivitySimWithPiloc/gradle/*
project/ActivitySimWithPiloc/build/*
project/ActivitySimWithPiloc/.idea/*

project/ActivityEval/build/*
project/ActivityEval/.idea/*

project/ActivityTrackAppWithPiloc/.gradle/*
project/ActivityTrackAppWithPiloc/gradle/*
project/ActivityTrackAppWithPiloc/build/*
project/ActivityTrackAppWithPiloc/.idea/*
